.allmighty-container {
    height: 100%;
    width: 100%;
}

.allmighty-dark {
    background-color: #171a1d;
}

.allmighty-light {

}

.input-dark {
    background-color: hsl(0, 0%, 14%) !important;
    border-color: hsl(0, 0%, 10%);
}

.input-dark:focus {
    background-color: hsl(0, 0%, 10%) !important;
    border-color: hsl(0, 0%, 6%);
}

.button-dark {
    background-color: hsl(127deg 0% 14%) !important;
    border-color: hsl(0, 0%, 10%);
}

.button-dark:focus {
    background-color: hsl(127deg, 0%, 10%) !important;
    border-color: hsl(0, 0%, 6%);
}

.button-dark-success {
    background-color: hsl(127deg 32% 18%) !important;
    border-color: hsl(0, 0%, 10%);
}

.button-dark-success:focus {
    background-color: hsl(127deg, 32%, 12%) !important;
    border-color: hsl(0, 0%, 6%);
}

.button-dark-info {
    background-color: hsl(190deg 90% 18%) !important;
    border-color: hsl(0, 0%, 10%);
}

.button-dark-info:focus {
    background-color: hsl(190deg 90% 12%) !important;
    border-color: hsl(0, 0%, 6%);
}

.button-dark-danger {
    background-color: hsl(354deg 70% 18%) !important;
    border-color: hsl(0, 0%, 10%);
}

.button-dark-danger:focus {
    background-color: hsl(354deg 70% 12%) !important;
    border-color: hsl(0, 0%, 6%);
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: initial !important;
}

.background-lightgray {
    background-color: #e9ecef;
}

.background-darkgray {
    background-color: #343a40;
}

.timeline-dark-success {
    background-color: hsl(152deg 69% 17%);
}

.timeline-success {
    background-color: hsl(152deg 69% 31%);
}

.timeline-danger {
    background-color: hsl(354deg 70% 54%);
}
.timeline-dark-danger {
    background-color: hsl(354deg 70% 21%);
}

.calendar-box {
    height: 9rem;
    color: inherit !important;
    text-decoration: none !important;
}

.calendar-box:hover, .calendar-box:focus {
    text-decoration: underline !important;
}

.border-white-50 {
    border-color: rgba(255, 255, 255, 0.5) !important;
}