.input-dark {
    background-color: hsl(0, 0%, 14%) !important;
    border-color: hsl(0, 0%, 10%);
}

.input-dark:focus {
    background-color: hsl(0, 0%, 10%) !important;
    border-color: hsl(0, 0%, 6%);
}

.button-dark {
    background-color: hsl(127deg 0% 14%) !important;
    border-color: hsl(0, 0%, 10%);
}

.button-dark:focus {
    background-color: hsl(127deg, 0%, 10%) !important;
    border-color: hsl(0, 0%, 6%);
}

.button-dark-success {
    background-color: hsl(127deg 32% 18%) !important;
    border-color: hsl(0, 0%, 10%);
}

.button-dark-success:focus {
    background-color: hsl(127deg, 32%, 12%) !important;
    border-color: hsl(0, 0%, 6%);
}

.disabled {
    cursor: not-allowed !important;
    pointer-events: initial !important;
}